<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Source/css/common.css" rel="stylesheet" />
    <script src="~/Source/js/jquery-1.11.3.min.js"></script>
</head>
<body>
    <div class=""></div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
